services:
  - type: web
    name: nba-all-time-draft-lineup
    env: docker
    autoDeploy: true
    plan: starter
    disk:
      name: sqlite-data
      mountPath: /var/data
      sizeGB: 1
    envVars:
      - key: DATABASE_URL
        value: file:/var/data/dev.db
